Repository aquasecurity/trivy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

revert go sum
  go.sum
Owners: @knqyf263

remove echo analyzer
  pkg/fanal/analyzer/os/echo/echo.go
  pkg/fanal/analyzer/os/release/release.go
  pkg/fanal/analyzer/os/release/release_test.go
  pkg/fanal/analyzer/os/release/testdata/echo
Owners: @knqyf263, @DmitriyLewen

add echo docs
  .github/workflows/semantic-pr.yaml
  docs/docs/coverage/os/echo.md
  docs/docs/coverage/os/index.md
  docs/docs/scanner/vulnerability.md
Owners: @knqyf263

remove replace statement
  go.mod
  pkg/fanal/analyzer/all/import.go
Owners: @knqyf263, @DmitriyLewen

add more docs
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
Owners: @knqyf263

add docs
  mkdocs.yml
Owners: @knqyf263

add echo
  pkg/detector/ospkg/detect.go
Owners: @knqyf263

add echo severity handling
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

add echo tests
  pkg/detector/ospkg/echo/echo_test.go
  pkg/detector/ospkg/echo/testdata/fixtures/data-source.yaml
  pkg/detector/ospkg/echo/testdata/fixtures/echo.yaml
  pkg/detector/ospkg/echo/testdata/fixtures/invalid.yaml
Owners: @knqyf263

add test case for pkg with release
  pkg/detector/ospkg/echo/echo_test.go
Owners: @knqyf263

update docs
  docs/docs/coverage/os/echo.md
Owners: @knqyf263

relocations
  pkg/detector/ospkg/detect.go
  pkg/fanal/analyzer/const.go
Owners: @knqyf263, @DmitriyLewen

fix installed version calculation
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

remove prints
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

move echo in list
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
Owners: @knqyf263

put echo in correct location in docs
  .github/workflows/semantic-pr.yaml
  docs/docs/coverage/os/index.md
  docs/docs/scanner/vulnerability.md
Owners: @knqyf263

use FormatVersion:
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

fix docs
  docs/docs/coverage/os/echo.md
  docs/docs/coverage/os/index.md
  docs/docs/scanner/vulnerability.md
  mkdocs.yml
  pkg/fanal/analyzer/os/release/release_test.go
  pkg/fanal/analyzer/os/release/testdata/echo
Owners: @knqyf263, @DmitriyLewen

fix(scanner): check license name and normalized license next to detect category
  pkg/licensing/scanner.go
  pkg/scan/local/service.go
  pkg/scan/local/service_test.go
Owners: @knqyf263

feat(json): add JSONC support for comments and trailing commas
  pkg/x/json/jsonc.go
  pkg/x/json/jsonc_test.go
Owners: @knqyf263

feat: add JSONC support for comments and trailing commas (#8862)
  pkg/x/json/jsonc.go
  pkg/x/json/jsonc_test.go
Owners: @knqyf263

test(parser): unmarshal jsonc in bun parser
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
  pkg/dependency/parser/nodejs/bun/testdata/bun_happy.lock
Owners: @knqyf263, @DmitriyLewen

refactor(db): don't remove DB
  pkg/db/db.go
Owners: @knqyf263

test(parser): fix deplist in bun parser
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
Owners: @knqyf263, @DmitriyLewen

test(parser): add location to pkgs in bun parser
  LICENSE
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
Owners: @knqyf263, @DmitriyLewen

revert license change
  LICENSE
Owners: @knqyf263

test(parser): add multiple ws test for bun
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_test.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
  pkg/dependency/parser/nodejs/bun/testdata/bun_multiple_ws.lock
Owners: @knqyf263, @DmitriyLewen

fix(rpc): add Relationship field for Package
  pkg/rpc/convert.go
  pkg/rpc/convert_test.go
  rpc/common/service.pb.go
  rpc/common/service.proto
Owners: @knqyf263

fix(k8s): use in-memory cache backend during misconfig scanning
  pkg/k8s/scanner/scanner.go
Owners: @afdesk, @simar7

test(license): Make result of recursive test not equal to inner compound result
  pkg/licensing/scanner_test.go
Owners: @knqyf263

fix(server): add missed Relationship field for `rpc` (#8872)
  pkg/rpc/convert.go
  pkg/rpc/convert_test.go
  rpc/common/service.pb.go
  rpc/common/service.proto
Owners: @knqyf263

refactor: rename Terraform source to TerraformRaw
  docs/docs/scanner/misconfiguration/custom/index.md
  pkg/iac/rego/scanner.go
  pkg/iac/rego/schemas/00_schema.go
  pkg/iac/rego/schemas/schemas.go
  pkg/iac/scanners/terraform/executor/executor.go
  pkg/iac/types/sources.go
Owners: @simar7, @nikpivkin

refactor: don't return error for empty DownloadedAt + skip-db-update
  pkg/db/db.go
  pkg/db/db_test.go
Owners: @knqyf263

refactor: scan raw configuration on demand
  docs/docs/references/configuration/cli/trivy_config.md
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/artifact/run.go
  pkg/fanal/artifact/local/fs_test.go
  pkg/fanal/artifact/local/testdata/misconfig/terraform/rego/policy-raw.rego
  pkg/flag/misconf_flags.go
  pkg/iac/scanners/options/scanner.go
  pkg/iac/scanners/terraform/executor/executor.go
  pkg/iac/scanners/terraform/executor/option.go
  pkg/iac/scanners/terraform/scanner.go
  pkg/iac/scanners/terraform/scanner_test.go
  pkg/iac/scanners/terraformplan/snapshot/scanner.go
  pkg/iac/scanners/terraformplan/tfjson/scanner.go
  pkg/misconf/scanner.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

fix: use version from metadata.json when DownloadedAt is zero
  pkg/db/db.go
  pkg/db/db_test.go
Owners: @knqyf263

chore: fix linter issues
  pkg/iac/terraform/export.go
Owners: @simar7, @nikpivkin

test: rename `--skip-update` to `--skip-db-update`
  pkg/db/db_test.go
Owners: @knqyf263

refactor(parser): address PR comments
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
Owners: @knqyf263, @DmitriyLewen

fix(parser): add support for optional deps
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
  pkg/dependency/parser/nodejs/bun/testdata/bun_happy.lock
Owners: @knqyf263, @DmitriyLewen

chore: refactor for a smaller change, according to suggestion
  pkg/fanal/analyzer/language/analyze.go
  pkg/fanal/analyzer/pkg/dpkg/copyright.go
  pkg/licensing/expression/expression.go
  pkg/licensing/expression/expression_test.go
  pkg/licensing/normalize.go
  pkg/licensing/normalize_test.go
  pkg/licensing/scanner.go
  pkg/licensing/scanner_test.go
  pkg/sbom/spdx/marshal.go
Owners: @knqyf263, @DmitriyLewen

.github/CODEOWNERS:

# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/docs/scanner/misconfiguration/  @simar7 @nikpivkin
docs/docs/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/           @simar7 @nikpivkin
pkg/cloud/                           @simar7 @nikpivkin
pkg/iac/                             @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/docs/target/kubernetes.md   @afdesk @simar7
