Repository aquasecurity/trivy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

chore(deps): bump golangci-lint to v2.1.2 (#8766)
  .github/workflows/test.yaml
  .golangci.yaml
  magefiles/magefile.go
Owners: @knqyf263

refactor(ubuntu): use clock package so time can be fixed for testing
  pkg/detector/ospkg/ubuntu/ubuntu.go
  pkg/detector/ospkg/ubuntu/ubuntu_test.go
Owners: @knqyf263

refactor(ubuntu): update time handling for fixing time (#8780)
  pkg/detector/ospkg/ubuntu/ubuntu.go
  pkg/detector/ospkg/ubuntu/ubuntu_test.go
Owners: @knqyf263

fix(misconf): perform operations on attribute safely
  pkg/iac/adapters/terraform/aws/s3/bucket.go
  pkg/iac/terraform/attribute.go
Owners: @simar7, @nikpivkin

refactor: remove unused attribute methods
  pkg/iac/adapters/terraform/aws/codebuild/adapt.go
  pkg/iac/adapters/terraform/aws/ec2/adapt.go
  pkg/iac/adapters/terraform/aws/ec2/autoscaling.go
  pkg/iac/terraform/attribute.go
Owners: @simar7, @nikpivkin

fix(misconf): perform operations on attribute safely (#8774)
  pkg/iac/adapters/terraform/aws/codebuild/adapt.go
  pkg/iac/adapters/terraform/aws/ec2/adapt.go
  pkg/iac/adapters/terraform/aws/ec2/autoscaling.go
  pkg/iac/adapters/terraform/aws/s3/bucket.go
  pkg/iac/terraform/attribute.go
Owners: @simar7, @nikpivkin

fix: testifylint last issues
  .golangci.yaml
  pkg/fanal/image/daemon/podman_test.go
  pkg/iac/adapters/arm/storage/adapt_test.go
  pkg/iac/detection/detect_test.go
  pkg/iac/scanners/azure/arm/parser/armjson/parse_array_test.go
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/scanners/terraform/parser/resolvers/registry_test.go
  pkg/k8s/report/report_test.go
  pkg/k8s/scanner/scanner_test.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

refactor(misconf): remove unused methods from providers
  pkg/iac/providers/aws/cloudtrail/cloudtrail.go
  pkg/iac/providers/aws/cloudwatch/cloudwatch.go
  pkg/iac/providers/aws/ec2/launch.go
  pkg/iac/providers/aws/iam/iam.go
  pkg/iac/providers/aws/s3/bucket.go
  pkg/iac/providers/aws/s3/bucket_public_access_block.go
  pkg/iac/providers/aws/sns/sns.go
  pkg/iac/providers/azure/network/network.go
  pkg/iac/providers/github/branch_protections.go
  pkg/iac/providers/github/repositories.go
  pkg/iac/providers/google/dns/dns.go
  pkg/iac/providers/google/iam/iam.go
  pkg/iac/providers/google/sql/sql.go
Owners: @simar7, @nikpivkin

refactor(misconf): remove unused methods from iac types
  pkg/iac/providers/google/dns/dns.go
  pkg/iac/types/int.go
  pkg/iac/types/string.go
  pkg/iac/types/string_test.go
Owners: @simar7, @nikpivkin

fix: testifylint last issues (#8768)
  .golangci.yaml
  pkg/fanal/image/daemon/podman_test.go
  pkg/iac/adapters/arm/storage/adapt_test.go
  pkg/iac/detection/detect_test.go
  pkg/iac/scanners/azure/arm/parser/armjson/parse_array_test.go
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/scanners/terraform/parser/resolvers/registry_test.go
  pkg/k8s/report/report_test.go
  pkg/k8s/scanner/scanner_test.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

fix(misconf): filter null nodes when parsing json manifest
  pkg/iac/scanners/kubernetes/parser/manifest.go
  pkg/iac/scanners/kubernetes/parser/manifest_node.go
  pkg/iac/scanners/kubernetes/parser/manifest_test.go
Owners: @simar7, @nikpivkin

fix(misconf): filter null nodes when parsing json manifest (#8785)
  pkg/iac/scanners/kubernetes/parser/manifest.go
  pkg/iac/scanners/kubernetes/parser/manifest_node.go
  pkg/iac/scanners/kubernetes/parser/manifest_test.go
Owners: @simar7, @nikpivkin

feat(license): prefer vendor directory for license detection when available
  pkg/fanal/analyzer/language/golang/mod/mod.go
Owners: @knqyf263, @DmitriyLewen

refactor(misconf): remove unused methods from iac types (#8782)
  pkg/iac/providers/google/dns/dns.go
  pkg/iac/types/int.go
  pkg/iac/types/string.go
  pkg/iac/types/string_test.go
Owners: @simar7, @nikpivkin

refactor(misconf): remove unused methods from providers (#8781)
  pkg/iac/providers/aws/cloudtrail/cloudtrail.go
  pkg/iac/providers/aws/cloudwatch/cloudwatch.go
  pkg/iac/providers/aws/ec2/launch.go
  pkg/iac/providers/aws/iam/iam.go
  pkg/iac/providers/aws/s3/bucket.go
  pkg/iac/providers/aws/s3/bucket_public_access_block.go
  pkg/iac/providers/aws/sns/sns.go
  pkg/iac/providers/azure/network/network.go
  pkg/iac/providers/github/branch_protections.go
  pkg/iac/providers/github/repositories.go
  pkg/iac/providers/google/dns/dns.go
  pkg/iac/providers/google/iam/iam.go
  pkg/iac/providers/google/sql/sql.go
Owners: @simar7, @nikpivkin

fix(k8s): remove using `last-applied-configuration`
  go.mod
  go.sum
Owners: @knqyf263

Add support for MinimOS
  .github/workflows/semantic-pr.yaml
  docs/docs/coverage/os/index.md
  docs/docs/coverage/os/minimos.md
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/scanner/vulnerability.md
  mkdocs.yml
  pkg/detector/ospkg/detect.go
  pkg/detector/ospkg/minimos/minimos.go
  pkg/detector/ospkg/minimos/minimos_test.go
  pkg/detector/ospkg/minimos/testdata/fixtures/data-source.yaml
  pkg/detector/ospkg/minimos/testdata/fixtures/invalid.yaml
  pkg/detector/ospkg/minimos/testdata/fixtures/minimos.yaml
  pkg/fanal/analyzer/os/release/release.go
  pkg/fanal/types/const.go
  pkg/purl/purl.go
Owners: @knqyf263, @DmitriyLewen

fix: early-return rule from revive
  .golangci.yaml
  pkg/dependency/parser/java/pom/parse.go
  pkg/dependency/parser/ruby/bundler/parse.go
  pkg/iac/scanners/azure/functions/date_time_add.go
  pkg/iac/scanners/cloudformation/parser/fn_select.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

fix: superfluous-else rule from revive
  .golangci.yaml
  pkg/commands/convert/run.go
  pkg/dependency/parser/nodejs/yarn/parse.go
  pkg/fanal/analyzer/language/golang/mod/mod.go
Owners: @knqyf263, @DmitriyLewen

fix: indent-error-flow rule from revive
  .golangci.yaml
  magefiles/magefile.go
  pkg/cache/fs_test.go
  pkg/cache/remote_test.go
  pkg/commands/app.go
  pkg/dependency/parser/c/conan/parse.go
  pkg/dependency/parser/nodejs/pnpm/parse.go
  pkg/dependency/parser/nodejs/yarn/parse.go
  pkg/dependency/parser/rust/cargo/parse.go
  pkg/detector/ospkg/oracle/oracle_test.go
  pkg/fanal/analyzer/analyzer.go
  pkg/fanal/analyzer/language/golang/mod/mod.go
  pkg/fanal/analyzer/os/amazonlinux/amazonlinux_test.go
  pkg/fanal/analyzer/os/debian/debian_test.go
  pkg/fanal/analyzer/os/redhatbase/centos_test.go
  pkg/fanal/analyzer/os/redhatbase/fedora_test.go
  pkg/fanal/analyzer/os/redhatbase/oracle_test.go
  pkg/fanal/analyzer/os/redhatbase/redhatbase_test.go
  pkg/fanal/analyzer/os/ubuntu/ubuntu_test.go
  pkg/iac/adapters/cloudformation/aws/s3/bucket.go
  pkg/iac/scanners/cloudformation/parser/fn_find_in_map.go
  pkg/iac/scanners/cloudformation/parser/fn_if.go
  pkg/iac/scanners/cloudformation/parser/property.go
  pkg/iac/scanners/helm/parser/vals.go
  pkg/iac/terraform/block.go
  pkg/oci/artifact.go
  pkg/rekortest/server.go
  pkg/report/sarif.go
  pkg/vex/document.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

chore(deps): Update trivy-checks
  go.mod
  go.sum
Owners: @knqyf263

update tests
  integration/testdata/helm.json.golden
  integration/testdata/helm_testchart.json.golden
  integration/testdata/helm_testchart.overridden.json.golden
Owners: @knqyf263

fix unit tests
  pkg/iac/scanners/helm/test/scanner_test.go
Owners: @simar7, @nikpivkin

chore: use trivy-kubernetes v0.8.2
  go.mod
  go.sum
Owners: @knqyf263

fix(k8s): remove using `last-applied-configuration` (#8791)
  go.mod
  go.sum
Owners: @knqyf263

use checks v1.9.0
  go.mod
  go.sum
Owners: @knqyf263

use v1.10.0
  go.mod
  go.sum
Owners: @knqyf263

fix: early-return, indent-error-flow and superfluous-else rules from revive (#8796)
  .golangci.yaml
  magefiles/magefile.go
  pkg/cache/fs_test.go
  pkg/cache/remote_test.go
  pkg/commands/app.go
  pkg/commands/convert/run.go
  pkg/dependency/parser/c/conan/parse.go
  pkg/dependency/parser/java/pom/parse.go
  pkg/dependency/parser/nodejs/pnpm/parse.go
  pkg/dependency/parser/nodejs/yarn/parse.go
  pkg/dependency/parser/ruby/bundler/parse.go
  pkg/dependency/parser/rust/cargo/parse.go
  pkg/detector/ospkg/oracle/oracle_test.go
  pkg/fanal/analyzer/analyzer.go
  pkg/fanal/analyzer/language/golang/mod/mod.go
  pkg/fanal/analyzer/os/amazonlinux/amazonlinux_test.go
  pkg/fanal/analyzer/os/debian/debian_test.go
  pkg/fanal/analyzer/os/redhatbase/centos_test.go
  pkg/fanal/analyzer/os/redhatbase/fedora_test.go
  pkg/fanal/analyzer/os/redhatbase/oracle_test.go
  pkg/fanal/analyzer/os/redhatbase/redhatbase_test.go
  pkg/fanal/analyzer/os/ubuntu/ubuntu_test.go
  pkg/iac/adapters/cloudformation/aws/s3/bucket.go
  pkg/iac/scanners/azure/functions/date_time_add.go
  pkg/iac/scanners/cloudformation/parser/fn_find_in_map.go
  pkg/iac/scanners/cloudformation/parser/fn_if.go
  pkg/iac/scanners/cloudformation/parser/fn_select.go
  pkg/iac/scanners/cloudformation/parser/property.go
  pkg/iac/scanners/helm/parser/vals.go
  pkg/iac/terraform/block.go
  pkg/oci/artifact.go
  pkg/rekortest/server.go
  pkg/report/sarif.go
  pkg/vex/document.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

chore(deps): Update trivy-checks (#8798)
  go.mod
  go.sum
  integration/testdata/helm.json.golden
  integration/testdata/helm_testchart.json.golden
  integration/testdata/helm_testchart.overridden.json.golden
  pkg/iac/scanners/helm/test/scanner_test.go
Owners: @knqyf263, @simar7, @nikpivkin

refactor(nodejs): improve yarn dependency analysis and workspace handling
  pkg/fanal/analyzer/language/nodejs/yarn/yarn.go
  pkg/fanal/analyzer/language/nodejs/yarn/yarn_test.go
Owners: @knqyf263, @DmitriyLewen

refactor(nodejs): enhance yarn package ID handling and workspace relationships
  pkg/fanal/analyzer/language/nodejs/yarn/yarn.go
  pkg/fanal/analyzer/language/nodejs/yarn/yarn_test.go
Owners: @knqyf263, @DmitriyLewen

docs: refactor yarn dependency documentation
  docs/docs/coverage/language/nodejs.md
Owners: @knqyf263

feat(nodejs): add root and workspace for `yarn` packages (#8535)
  docs/docs/coverage/language/nodejs.md
  docs/docs/scanner/vulnerability.md
  integration/testdata/yarn.json.golden
  pkg/fanal/analyzer/language/nodejs/yarn/testdata/monorepo/packages/package2/package.json
  pkg/fanal/analyzer/language/nodejs/yarn/yarn.go
  pkg/fanal/analyzer/language/nodejs/yarn/yarn_test.go
  pkg/fanal/applier/docker.go
  pkg/scan/local/service.go
Owners: @knqyf263, @DmitriyLewen

release: v0.62.0 [main]
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

Deployed bf4cd4f2d to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/configuration/cache/index.html
  dev/docs/configuration/filtering/index.html
  dev/docs/configuration/skipping/index.html
  dev/docs/coverage/language/nodejs/index.html
  dev/docs/references/configuration/config-file/index.html
  dev/docs/scanner/vulnerability/index.html
  dev/getting-started/installation/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  versions.json
Owners: @knqyf263

release: v0.62.0 [main] (#8669)
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

ci(helm): bump Trivy version to 0.62.0 for Trivy Helm Chart 0.14.0
  helm/trivy/Chart.yaml
Owners: @afdesk, @simar7

ci(helm): bump Trivy version to 0.62.0 for Trivy Helm Chart 0.14.0 (#8802)
  helm/trivy/Chart.yaml
Owners: @afdesk, @simar7

feat: respect Docker contexts when resolving Docker host (fix #7686)
  .gitignore
  internal/dockerhost/resolve.go
Owners: @knqyf263

feat(gradle): exclude dev deps
  pkg/dependency/parser/gradle/lockfile/parse.go
Owners: @knqyf263, @DmitriyLewen

.github/CODEOWNERS:

# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/docs/scanner/misconfiguration/  @simar7 @nikpivkin
docs/docs/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/           @simar7 @nikpivkin
pkg/cloud/                           @simar7 @nikpivkin
pkg/iac/                             @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/docs/target/kubernetes.md   @afdesk @simar7
