Repository aquasecurity/trivy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

fix(redhat): trim invalid suffix from content_sets in manifest parsing (#8818)
  pkg/detector/ospkg/redhat/redhat.go
  pkg/detector/ospkg/redhat/redhat_test.go
Owners: @knqyf263

fix(redhat): trim invalid suffix from content_sets in manifest parsing [backport: release/v0.62] (#8824)
  pkg/detector/ospkg/redhat/redhat.go
  pkg/detector/ospkg/redhat/redhat_test.go
Owners: @knqyf263

fix(misconf): check if for-each is known when expanding dyn block (#8808)
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/terraform/block.go
Owners: @simar7, @nikpivkin

fix(misconf): check if for-each is known when expanding dyn block [backport: release/v0.62] (#8826)
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/terraform/block.go
Owners: @simar7, @nikpivkin

release: v0.62.1 [release/v0.62]
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

docs(java): add gradle to desc of include dev deps
  pkg/flag/package_flags.go
Owners: @knqyf263

add echo analyzer
  go.mod
  go.sum
  pkg/fanal/analyzer/all/import.go
  pkg/fanal/analyzer/const.go
  pkg/fanal/analyzer/os/echo/echo.go
  pkg/fanal/types/const.go
Owners: @knqyf263, @DmitriyLewen

add echo severity handling
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

add echo
  pkg/detector/ospkg/detect.go
Owners: @knqyf263

fix: use accessor functions for LatestVersion, Warnings and Announcements
  pkg/notification/notice.go
Owners: @knqyf263

docs(java): add info about dev deps in java page
  docs/docs/coverage/language/java.md
Owners: @knqyf263

docs(java): fix docs references
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_repository.md
Owners: @knqyf263

feat(misconf): export raw Terraform data to Rego
  docs/docs/scanner/misconfiguration/custom/index.md
  docs/docs/scanner/misconfiguration/custom/schema.md
  docs/tutorials/misconfiguration/custom-checks.md
  docs/tutorials/misconfiguration/terraform.md
  pkg/iac/rego/scanner.go
  pkg/iac/rego/schemas/00_schema.go
  pkg/iac/rego/schemas/schemas.go
  pkg/iac/rego/schemas/terraform.json
  pkg/iac/scanners/terraform/executor/executor.go
  pkg/iac/scanners/terraform/scanner_test.go
  pkg/iac/terraform/export.go
  pkg/iac/types/sources.go
Owners: @simar7, @nikpivkin, @knqyf263

add echo tests
  pkg/detector/ospkg/echo/echo_test.go
  pkg/detector/ospkg/echo/testdata/fixtures/data-source.yaml
  pkg/detector/ospkg/echo/testdata/fixtures/echo.yaml
  pkg/detector/ospkg/echo/testdata/fixtures/invalid.yaml
Owners: @knqyf263

docs: small refactor + add link
  docs/docs/coverage/language/java.md
Owners: @knqyf263

docs(java): Update info about dev deps in gradle lock (#8830)
  docs/docs/coverage/language/java.md
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_repository.md
  pkg/flag/package_flags.go
Owners: @knqyf263

add echo docs
  .github/workflows/semantic-pr.yaml
  docs/docs/coverage/os/echo.md
  docs/docs/coverage/os/index.md
  docs/docs/scanner/vulnerability.md
Owners: @knqyf263

Deployed 3bf4f4493 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/configuration/cache/index.html
  dev/docs/configuration/filtering/index.html
  dev/docs/configuration/skipping/index.html
  dev/docs/coverage/language/java/index.html
  dev/docs/references/configuration/cli/trivy_filesystem/index.html
  dev/docs/references/configuration/cli/trivy_repository/index.html
  dev/docs/references/configuration/config-file/index.html
  dev/getting-started/installation/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  versions.json
Owners: @knqyf263

feat(license): scan vendor directory for license for go.mod files (#8689)
  docs/docs/coverage/language/golang.md
  pkg/fanal/analyzer/language/golang/mod/mod.go
  pkg/fanal/analyzer/language/golang/mod/mod_test.go
  pkg/fanal/analyzer/language/golang/mod/testdata/vendor-dir-exists/mod
  pkg/fanal/analyzer/language/golang/mod/testdata/vendor-dir-exists/vendor/go-dep-parser/LICENSE
Owners: @knqyf263, @DmitriyLewen

Deployed dd6a6e50a to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/configuration/cache/index.html
  dev/docs/configuration/filtering/index.html
  dev/docs/configuration/skipping/index.html
  dev/docs/coverage/language/golang/index.html
  dev/docs/references/configuration/config-file/index.html
  dev/getting-started/installation/index.html
  dev/search/search_index.json
  versions.json
Owners: @knqyf263

remove echo analyzer
  pkg/fanal/analyzer/os/echo/echo.go
  pkg/fanal/analyzer/os/release/release.go
  pkg/fanal/analyzer/os/release/release_test.go
  pkg/fanal/analyzer/os/release/testdata/echo
Owners: @knqyf263, @DmitriyLewen

add docs
  mkdocs.yml
Owners: @knqyf263

remove replace statement
  go.mod
  pkg/fanal/analyzer/all/import.go
Owners: @knqyf263, @DmitriyLewen

revert go sum
  go.sum
Owners: @knqyf263

resolve conflicts
  go.mod
Owners: @knqyf263

add more docs
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
Owners: @knqyf263

chore(deps): bump the common group across 1 directory with 10 updates [backport: release/v0.62] (#8831)
  go.mod
  go.sum
Owners: @knqyf263

update docs
  docs/docs/coverage/os/echo.md
Owners: @knqyf263

fix docs
  docs/docs/coverage/os/echo.md
  docs/docs/coverage/os/index.md
  docs/docs/scanner/vulnerability.md
  mkdocs.yml
  pkg/fanal/analyzer/os/release/release_test.go
  pkg/fanal/analyzer/os/release/testdata/echo
Owners: @knqyf263, @DmitriyLewen

move echo in list
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
Owners: @knqyf263

put echo in correct location in docs
  .github/workflows/semantic-pr.yaml
  docs/docs/coverage/os/index.md
  docs/docs/scanner/vulnerability.md
Owners: @knqyf263

relocations
  pkg/detector/ospkg/detect.go
  pkg/fanal/analyzer/const.go
Owners: @knqyf263, @DmitriyLewen

use FormatVersion:
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

release: v0.62.1 [release/v0.62] (#8825)
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

Deployed c75ed2156 to v0.62 with MkDocs 1.6.1 and mike 2.1.3
  v0.62/docs/configuration/cache/index.html
  v0.62/docs/configuration/filtering/index.html
  v0.62/docs/configuration/skipping/index.html
  v0.62/docs/references/configuration/config-file/index.html
  v0.62/getting-started/installation/index.html
  v0.62/search/search_index.json
  v0.62/sitemap.xml
  v0.62/sitemap.xml.gz
  versions.json
Owners: @knqyf263

ci(helm): bump Trivy version to 0.62.1 for Trivy Helm Chart 0.14.1
  helm/trivy/Chart.yaml
Owners: @afdesk, @simar7

linting
  pkg/iac/scanners/terraform/parser/parser_test.go
Owners: @simar7, @nikpivkin

ci(helm): bump Trivy version to 0.62.1 for Trivy Helm Chart 0.14.1 (#8836)
  helm/trivy/Chart.yaml
Owners: @afdesk, @simar7

chore: enable staticcheck
  .golangci.yaml
Owners: @knqyf263

fix(QF1002): Convert untagged switch to tagged switch
  .golangci.yaml
  pkg/fanal/types/artifact.go
  pkg/licensing/normalize.go
  pkg/report/table/table.go
Owners: @knqyf263, @DmitriyLewen

.github/CODEOWNERS:

# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/docs/scanner/misconfiguration/  @simar7 @nikpivkin
docs/docs/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/           @simar7 @nikpivkin
pkg/cloud/                           @simar7 @nikpivkin
pkg/iac/                             @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/docs/target/kubernetes.md   @afdesk @simar7
