Repository aquasecurity/trivy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

fix(misconf): check if for-each is known when expanding dyn block
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/terraform/block.go
Owners: @simar7, @nikpivkin

fix(misconf): check if for-each is known when expanding dyn block (#8808)
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/terraform/block.go
Owners: @simar7, @nikpivkin

test(gradle): add unit test for excluded dev deps
  pkg/dependency/parser/gradle/lockfile/parse_test.go
  pkg/dependency/parser/gradle/lockfile/testdata/happy.lockfile
Owners: @knqyf263, @DmitriyLewen

Trivial (trivyal?) change in docs java.md: fix the Trity -to-> Trivy typo
  docs/docs/coverage/language/java.md
Owners: @knqyf263

chore: fix expand for_each using module output
  pkg/iac/scanners/terraform/parser/evaluator.go
  pkg/iac/scanners/terraform/parser/parser_test.go
Owners: @simar7, @nikpivkin

test rename
  pkg/iac/scanners/terraform/parser/parser_test.go
Owners: @simar7, @nikpivkin

update skip comment
  pkg/iac/scanners/terraform/parser/parser_test.go
Owners: @simar7, @nikpivkin

docs: change in java.md: fix the Trity -to-> Trivy typo (#8813)
  docs/docs/coverage/language/java.md
Owners: @knqyf263

Deployed 296eb3c81 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/configuration/cache/index.html
  dev/docs/configuration/filtering/index.html
  dev/docs/configuration/skipping/index.html
  dev/docs/coverage/language/java/index.html
  dev/docs/references/configuration/config-file/index.html
  dev/getting-started/installation/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  versions.json
Owners: @knqyf263

fix: more revive rules
  .golangci.yaml
  cmd/trivy/main.go
  go.mod
  magefiles/fixture.go
  magefiles/magefile.go
  pkg/dependency/parser/nodejs/pnpm/parse.go
  pkg/fanal/secret/scanner.go
  pkg/flag/options.go
  pkg/iac/scanners/azure/arm/parser/armjson/unmarshal.go
  pkg/iac/scanners/cloudformation/parser/property.go
  pkg/iac/scanners/helm/scanner.go
  pkg/parallel/pipeline.go
  pkg/parallel/walk.go
  pkg/report/table/licensing.go
  pkg/report/table/misconfig.go
  pkg/report/table/secret.go
  pkg/report/table/summary.go
  pkg/report/table/vulnerability.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

feat(license): Adds classification of compound licenses
  pkg/licensing/expression/expression.go
  pkg/licensing/expression/expression_test.go
  pkg/licensing/normalize.go
  pkg/licensing/scanner.go
  pkg/licensing/scanner_test.go
  pkg/sbom/spdx/marshal.go
Owners: @knqyf263, @DmitriyLewen

chore(license): Cleanup compound license support
  pkg/fanal/analyzer/language/analyze.go
  pkg/fanal/analyzer/pkg/dpkg/copyright.go
  pkg/licensing/normalize.go
  pkg/licensing/normalize_test.go
  pkg/licensing/scanner.go
  pkg/scan/local/service.go
Owners: @knqyf263, @DmitriyLewen

fix: more revive rules (#8814)
  .golangci.yaml
  cmd/trivy/main.go
  go.mod
  magefiles/fixture.go
  magefiles/magefile.go
  pkg/dependency/parser/nodejs/pnpm/parse.go
  pkg/fanal/secret/scanner.go
  pkg/flag/options.go
  pkg/iac/scanners/azure/arm/parser/armjson/unmarshal.go
  pkg/iac/scanners/cloudformation/parser/property.go
  pkg/iac/scanners/helm/scanner.go
  pkg/parallel/pipeline.go
  pkg/parallel/walk.go
  pkg/report/table/licensing.go
  pkg/report/table/misconfig.go
  pkg/report/table/secret.go
  pkg/report/table/summary.go
  pkg/report/table/vulnerability.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

fix: use-any from revive
  .golangci.yaml
Owners: @knqyf263

fix: use-any from revive (#8810)
  .golangci.yaml
Owners: @knqyf263

fix(redhat): enhance content set handling in vulnerability detection
  pkg/detector/ospkg/redhat/redhat.go
  pkg/detector/ospkg/redhat/redhat_test.go
Owners: @knqyf263

Update pkg/detector/ospkg/redhat/redhat.go
  pkg/detector/ospkg/redhat/redhat.go
Owners: @knqyf263

fix: save RedHat buildInfo into BlobInfo for fs/vm modes
  pkg/fanal/artifact/local/fs.go
  pkg/fanal/artifact/vm/vm.go
Owners: @knqyf263, @DmitriyLewen

docs(redhat): update comments for cleanContentSets function
  pkg/detector/ospkg/redhat/redhat.go
Owners: @knqyf263

fix(redhat): trim invalid suffix from content_sets in manifest parsing (#8818)
  pkg/detector/ospkg/redhat/redhat.go
  pkg/detector/ospkg/redhat/redhat_test.go
Owners: @knqyf263

fix: octalLiteral from go-critic
  .golangci.yaml
  integration/standalone_tar_test.go
  internal/dbtest/db.go
  internal/testutil/fs.go
  magefiles/fixture.go
  magefiles/helm_test.go
  magefiles/schema.go
  pkg/cache/fs.go
  pkg/cache/fs_test.go
  pkg/commands/auth/run_test.go
  pkg/commands/clean/run_test.go
  pkg/detector/ospkg/alpine/alpine.go
  pkg/fanal/analyzer/analyzer_test.go
  pkg/fanal/analyzer/fs.go
  pkg/fanal/analyzer/imgconf/dockerfile/dockerfile.go
  pkg/fanal/analyzer/language/golang/binary/binary_test.go
  pkg/fanal/analyzer/language/python/pip/pip_test.go
  pkg/fanal/artifact/repo/git_test.go
  pkg/fanal/image/image_test.go
  pkg/fanal/utils/utils.go
  pkg/iac/rego/scanner_test.go
  pkg/iac/scanners/azure/arm/parser/parser_test.go
  pkg/iac/scanners/cloudformation/parser/parser_test.go
  pkg/mapfs/fs_test.go
  pkg/misconf/scanner.go
  pkg/misconf/scanner_test.go
  pkg/plugin/manager_unix_test.go
  pkg/policy/policy_test.go
  pkg/remote/remote_test.go
  pkg/sbom/cyclonedx/marshal_test.go
  pkg/vex/repo/manager.go
  pkg/vex/repo/manager_test.go
  pkg/vex/repo/repo.go
  pkg/vex/repo_test.go
  pkg/vex/vex_test.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

feat(misconf): add misconfiguration location to junit template
  contrib/junit.tpl
Owners: @knqyf263

refactor(parser): use string cut instead of split
  pkg/dependency/parser/gradle/lockfile/parse.go
Owners: @knqyf263, @DmitriyLewen

fix: octalLiteral from go-critic (#8811)
  .golangci.yaml
  integration/standalone_tar_test.go
  internal/dbtest/db.go
  internal/testutil/fs.go
  magefiles/fixture.go
  magefiles/helm_test.go
  magefiles/schema.go
  pkg/cache/fs.go
  pkg/cache/fs_test.go
  pkg/commands/auth/run_test.go
  pkg/commands/clean/run_test.go
  pkg/detector/ospkg/alpine/alpine.go
  pkg/fanal/analyzer/analyzer_test.go
  pkg/fanal/analyzer/fs.go
  pkg/fanal/analyzer/imgconf/dockerfile/dockerfile.go
  pkg/fanal/analyzer/language/golang/binary/binary_test.go
  pkg/fanal/analyzer/language/python/pip/pip_test.go
  pkg/fanal/artifact/repo/git_test.go
  pkg/fanal/image/image_test.go
  pkg/fanal/utils/utils.go
  pkg/iac/rego/scanner_test.go
  pkg/iac/scanners/azure/arm/parser/parser_test.go
  pkg/iac/scanners/cloudformation/parser/parser_test.go
  pkg/mapfs/fs_test.go
  pkg/misconf/scanner.go
  pkg/misconf/scanner_test.go
  pkg/plugin/manager_unix_test.go
  pkg/policy/policy_test.go
  pkg/remote/remote_test.go
  pkg/sbom/cyclonedx/marshal_test.go
  pkg/vex/repo/manager.go
  pkg/vex/repo/manager_test.go
  pkg/vex/repo/repo.go
  pkg/vex/repo_test.go
  pkg/vex/vex_test.go
Owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin

fix(java): exclude dev dependencies in gradle lockfile (#8803)
  pkg/dependency/parser/gradle/lockfile/parse.go
  pkg/dependency/parser/gradle/lockfile/parse_test.go
  pkg/dependency/parser/gradle/lockfile/testdata/happy.lockfile
Owners: @knqyf263, @DmitriyLewen

fix: address review feedback
  pkg/fanal/analyzer/language/golang/mod/mod.go
Owners: @knqyf263, @DmitriyLewen

feat(cli): Add version check logic
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/app.go
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/flag/scan_flags_test.go
  pkg/notification/identifier.go
  pkg/notification/identifier_test.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
Owners: @knqyf263

feat(cli): rework logic for version checker
  pkg/commands/app.go
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/flag/scan_flags_test.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

docs(flags): update the scan docs
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
Owners: @knqyf263

chore: update the custom headers to remove -x prefix
  pkg/notification/notice.go
  pkg/notification/notice_test.go
Owners: @knqyf263

chore: update comment in version checker
  pkg/commands/artifact/run.go
Owners: @knqyf263

Update notice.go
  pkg/notification/notice.go
Owners: @knqyf263

Update notice.go
  pkg/notification/notice.go
Owners: @knqyf263

chore: tidy up comment
  pkg/notification/notice.go
Owners: @knqyf263

feat: change url and disable telemetry flags
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

chore: fix comment
  pkg/notification/option.go
Owners: @knqyf263

chore: remove check based on offline scan
  pkg/commands/artifact/run.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

chore: fix rebase issue from linting
  pkg/notification/identifier.go
  pkg/notification/notice_test.go
Owners: @knqyf263

fix: add vendor directory path to debug logs
  pkg/fanal/analyzer/language/golang/mod/mod.go
Owners: @knqyf263, @DmitriyLewen

docs: add info about content_sets for merged layers
  docs/docs/advanced/container/unpacked-filesystem.md
Owners: @knqyf263

.github/CODEOWNERS:

# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/docs/scanner/misconfiguration/  @simar7 @nikpivkin
docs/docs/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/           @simar7 @nikpivkin
pkg/cloud/                           @simar7 @nikpivkin
pkg/iac/                             @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/docs/target/kubernetes.md   @afdesk @simar7
