Repository aquasecurity/trivy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

fix(QF1001): Apply De Morgan’s law
  .golangci.yaml
  pkg/iac/terraform/attribute.go
  pkg/iac/terraform/context/context.go
  pkg/sbom/io/encode.go
Owners: @knqyf263, @simar7, @nikpivkin, @DmitriyLewen

fix(S1009): Omit redundant nil check on slices, maps, and channels
  .golangci.yaml
  pkg/iac/scanners/azure/functions/intersection.go
Owners: @knqyf263, @simar7, @nikpivkin

fix(S1008): Simplify returning boolean expression
  .golangci.yaml
  pkg/vex/repo/repo.go
Owners: @knqyf263

fix(QF1003): Convert if/else-if chain to tagged switch
  .golangci.yaml
  pkg/fanal/analyzer/analyzer_test.go
  pkg/fanal/analyzer/buildinfo/dockerfile.go
  pkg/report/table/summary.go
Owners: @knqyf263, @DmitriyLewen

fix(QF1007): Merge conditional assignment into variable declaration
  .golangci.yaml
  pkg/iac/adapters/cloudformation/aws/s3/bucket.go
Owners: @knqyf263, @simar7, @nikpivkin

fix(SA1012): A nil context.Context is being passed to a function, consider using context.TODO instead
  .golangci.yaml
  pkg/detector/ospkg/alma/alma_test.go
  pkg/detector/ospkg/alpine/alpine_test.go
  pkg/detector/ospkg/amazon/amazon_test.go
  pkg/detector/ospkg/azure/azure_test.go
  pkg/detector/ospkg/chainguard/chainguard_test.go
  pkg/detector/ospkg/debian/debian_test.go
  pkg/detector/ospkg/oracle/oracle_test.go
  pkg/detector/ospkg/photon/photon_test.go
  pkg/detector/ospkg/redhat/redhat_test.go
  pkg/detector/ospkg/rocky/rocky_test.go
  pkg/detector/ospkg/suse/suse_test.go
  pkg/detector/ospkg/wolfi/wolfi_test.go
  pkg/fanal/analyzer/language/elixir/mix/mix_test.go
  pkg/fanal/analyzer/language/java/pom/pom_test.go
  pkg/fanal/analyzer/language/php/composer/vendor_test.go
  pkg/fanal/analyzer/language/swift/cocoapods/cocoapods_test.go
  pkg/fanal/analyzer/language/swift/swift/swift_test.go
  pkg/report/table/table_test.go
Owners: @knqyf263, @DmitriyLewen

fix(QF1011): Omit redundant type from variable declaration
  .golangci.yaml
  pkg/dependency/parser/julia/manifest/naive_pkg_parser.go
  pkg/dependency/parser/rust/cargo/naive_pkg_parser.go
Owners: @knqyf263, @DmitriyLewen

fix(ST1023): Redundant type in variable declaration
  .golangci.yaml
Owners: @knqyf263

fix(ST1016): Use consistent method receiver names
  .golangci.yaml
  pkg/iac/rego/metadata.go
  pkg/iac/scanners/azure/arm/parser/template.go
  pkg/iac/scanners/kubernetes/parser/manifest_node.go
  pkg/iac/terraform/module.go
  pkg/iac/types/bool.go
  pkg/iac/types/bytes.go
  pkg/iac/types/int.go
  pkg/iac/types/map.go
  pkg/iac/types/string.go
  pkg/iac/types/time.go
Owners: @knqyf263, @simar7, @nikpivkin

fix(S1030): Use bytes.Buffer.String or bytes.Buffer.Bytes
  .golangci.yaml
  pkg/iac/scanners/terraform/parser/parser_test.go
Owners: @knqyf263, @simar7, @nikpivkin

chore: add an issue template for maintainers
  .github/ISSUE_TEMPLATE/maintainer.md
Owners: @knqyf263

chore: add an issue template for maintainers (#8838)
  .github/ISSUE_TEMPLATE/maintainer.md
Owners: @knqyf263

docs: move info about content manifests into rhel page
  docs/docs/advanced/container/unpacked-filesystem.md
  docs/docs/coverage/os/rhel.md
Owners: @knqyf263

docs: add notes for `rootfs` and `vm`
  docs/docs/target/rootfs.md
  docs/docs/target/vm.md
Owners: @knqyf263

docs(vulnerability): remove OSV for Python from data sources
  docs/docs/scanner/vulnerability.md
Owners: @knqyf263

fix installed version calculation
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

add test case for pkg with release
  pkg/detector/ospkg/echo/echo_test.go
Owners: @knqyf263

fix(handler): skip all system files
  pkg/fanal/handler/sysfile/filter.go
  pkg/fanal/handler/sysfile/filter_test.go
Owners: @knqyf263, @DmitriyLewen

feat(golang): try both GOPATH and vendor
  pkg/fanal/analyzer/language/golang/mod/mod.go
Owners: @knqyf263, @DmitriyLewen

test: add vendor dir to mapfs
  pkg/fanal/analyzer/language/golang/mod/mod_test.go
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/aquasecurity/go-dep-parser@v0.0.1/go.mod
  pkg/fanal/analyzer/language/golang/mod/testdata/vendor-dir-exists/mod
  pkg/fanal/analyzer/language/golang/mod/testdata/vendor-dir-exists/vendor/github.com/aquasecurity/go-dep-parser/LICENSE
  pkg/fanal/analyzer/language/golang/mod/testdata/vendor-dir-exists/vendor/go-dep-parser/LICENSE
Owners: @knqyf263, @DmitriyLewen

feat(mapfs): implement CopyDir function and add tests
  pkg/mapfs/fs.go
  pkg/mapfs/fs_test.go
Owners: @knqyf263

docs(vuln): remove OSV for Python from data sources (#8841)
  docs/docs/scanner/vulnerability.md
Owners: @knqyf263

Deployed c9ba460a9 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/docs/configuration/cache/index.html
  dev/docs/configuration/filtering/index.html
  dev/docs/configuration/skipping/index.html
  dev/docs/references/configuration/config-file/index.html
  dev/docs/scanner/vulnerability/index.html
  dev/getting-started/installation/index.html
  dev/search/search_index.json
  dev/sitemap.xml
  dev/sitemap.xml.gz
  versions.json
Owners: @knqyf263

refactor(golang): simplify dependency collection in gomodAnalyzer
  pkg/fanal/analyzer/language/golang/mod/mod.go
Owners: @knqyf263, @DmitriyLewen

remove prints
  pkg/detector/ospkg/echo/echo.go
Owners: @knqyf263

Allow deregistering post-analyzers
  pkg/fanal/analyzer/analyzer.go
Owners: @knqyf263, @DmitriyLewen

feat(misconf): add misconfiguration location to junit template (#8793)
  contrib/junit.tpl
Owners: @knqyf263

refactor(test): update error handling in CopyDir tests
  pkg/mapfs/fs_test.go
Owners: @knqyf263

fix: filter all files when processing files installed from package managers (#8842)
  pkg/fanal/handler/sysfile/filter.go
  pkg/fanal/handler/sysfile/filter_test.go
Owners: @knqyf263, @DmitriyLewen

release: v0.63.0 [main]
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

feat(parser): add bun parser
  pkg/dependency/parser/nodejs/bun/parse.go
  pkg/dependency/parser/nodejs/bun/parse_test.go
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
  pkg/dependency/parser/nodejs/bun/testdata/bun_happy.lock
Owners: @knqyf263, @DmitriyLewen

test(parser): fix tests for bun parser
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
Owners: @knqyf263, @DmitriyLewen

Revert "test(parser): fix tests for bun parser"
  pkg/dependency/parser/nodejs/bun/parse_testcase.go
Owners: @knqyf263, @DmitriyLewen

docs(flags): update the scan docs
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
Owners: @knqyf263

feat(cli): Add version check logic
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/app.go
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/flag/scan_flags_test.go
  pkg/notification/identifier.go
  pkg/notification/identifier_test.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
Owners: @knqyf263

chore: update comment in version checker
  pkg/commands/artifact/run.go
Owners: @knqyf263

feat(cli): rework logic for version checker
  pkg/commands/app.go
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/flag/scan_flags_test.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

chore: update the custom headers to remove -x prefix
  pkg/notification/notice.go
  pkg/notification/notice_test.go
Owners: @knqyf263

feat: change url and disable telemetry flags
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

Update notice.go
  pkg/notification/notice.go
Owners: @knqyf263

.github/CODEOWNERS:

# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/docs/scanner/misconfiguration/  @simar7 @nikpivkin
docs/docs/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/           @simar7 @nikpivkin
pkg/cloud/                           @simar7 @nikpivkin
pkg/iac/                             @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/docs/target/kubernetes.md   @afdesk @simar7
