Repository aquasecurity/trivy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @knqyf263, @DmitriyLewen, @simar7, @nikpivkin, @afdesk

.github/CODEOWNERS:

# Global
*   @knqyf263

# SBOM/Vulnerability scanning
pkg/dependency/  @knqyf263 @DmitriyLewen
pkg/fanal/       @knqyf263 @DmitriyLewen
pkg/sbom/        @knqyf263 @DmitriyLewen
pkg/scanner/     @knqyf263 @DmitriyLewen

# Misconfiguration scanning
docs/docs/scanner/misconfiguration/  @simar7 @nikpivkin
docs/docs/target/aws.md              @simar7 @nikpivkin
pkg/fanal/analyzer/config/           @simar7 @nikpivkin
pkg/cloud/                           @simar7 @nikpivkin
pkg/iac/                             @simar7 @nikpivkin

# Helm chart
helm/trivy/ @afdesk @simar7

# Kubernetes scanning
pkg/k8s/                         @afdesk @simar7
docs/docs/target/kubernetes.md   @afdesk @simar7

fix lint issues
  pkg/iac/scanners/terraform/parser/parser_test.go
Owners: @simar7, @nikpivkin

fix(terraform): hcl object expressions to return references (#8271)
  pkg/iac/adapters/terraform/aws/lambda/adapt.go
  pkg/iac/scanners/terraform/parser/parser_test.go
  pkg/iac/terraform/attribute.go
  pkg/iac/terraform/attribute_test.go
Owners: @simar7, @nikpivkin

fix(k8s): skip passed misconfigs for the summary report (#8684)
  pkg/k8s/report/summary.go
  pkg/k8s/writer_test.go
Owners: @afdesk, @simar7

ci(helm): create a helm branch for patches from main (#8673)
  .github/workflows/publish-chart.yaml
  .github/workflows/release.yaml
  magefiles/helm.go
Owners: @knqyf263

fix(k8s): skip passed misconfigs for the summary report [backport: release/v0.61] (#8748)
  pkg/k8s/report/summary.go
  pkg/k8s/writer_test.go
Owners: @afdesk, @simar7

release: v0.61.1 [release/v0.61]
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

docs: improve skipping files documentation
  docs/docs/configuration/skipping.md
  mkdocs.yml
Owners: @knqyf263

feat(cli): rework logic for version checker
  pkg/commands/app.go
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/flag/scan_flags_test.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

feat(cli): Add version check logic
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/app.go
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/flag/scan_flags_test.go
  pkg/notification/identifier.go
  pkg/notification/identifier_test.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
Owners: @knqyf263

chore: update comment in version checker
  pkg/commands/artifact/run.go
Owners: @knqyf263

Update notice.go
  pkg/notification/notice.go
Owners: @knqyf263

chore: tidy up comment
  pkg/notification/notice.go
Owners: @knqyf263

Update notice.go
  pkg/notification/notice.go
Owners: @knqyf263

docs(flags): update the scan docs
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
Owners: @knqyf263

chore: update the custom headers to remove -x prefix
  pkg/notification/notice.go
  pkg/notification/notice_test.go
Owners: @knqyf263

release: v0.61.1 [release/v0.61] (#8704)
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

Deployed 7d3b4ffdd to v0.61 with MkDocs 1.6.1 and mike 2.1.3
  v0.61/docs/configuration/cache/index.html
  v0.61/docs/configuration/filtering/index.html
  v0.61/docs/configuration/skipping/index.html
  v0.61/docs/references/configuration/config-file/index.html
  v0.61/getting-started/installation/index.html
  v0.61/search/search_index.json
  v0.61/sitemap.xml
  v0.61/sitemap.xml.gz
  versions.json
Owners: @knqyf263

feat: change url and disable telemetry flags
  docs/docs/references/configuration/cli/trivy_filesystem.md
  docs/docs/references/configuration/cli/trivy_image.md
  docs/docs/references/configuration/cli/trivy_kubernetes.md
  docs/docs/references/configuration/cli/trivy_repository.md
  docs/docs/references/configuration/cli/trivy_rootfs.md
  docs/docs/references/configuration/cli/trivy_sbom.md
  docs/docs/references/configuration/cli/trivy_vm.md
  docs/docs/references/configuration/config-file.md
  pkg/commands/artifact/run.go
  pkg/flag/scan_flags.go
  pkg/notification/notice.go
  pkg/notification/notice_test.go
  pkg/notification/option.go
Owners: @knqyf263

feat(misconf): convert AWS managed policy to document
  pkg/iac/adapters/terraform/aws/iam/convert.go
  pkg/iac/adapters/terraform/aws/iam/policies.go
  pkg/iac/adapters/terraform/aws/iam/roles_test.go
Owners: @simar7, @nikpivkin

ci(helm): bump Trivy version to 0.61.1 for Trivy Helm Chart 0.13.1
  helm/trivy/Chart.yaml
Owners: @afdesk, @simar7

ci(helm): bump Trivy version to 0.61.1 for Trivy Helm Chart 0.13.1 (#8753)
  helm/trivy/Chart.yaml
Owners: @afdesk, @simar7

release: v0.62.0 [main]
  .release-please-manifest.json
  CHANGELOG.md
Owners: @knqyf263

Update docs/docs/target/container_image_config.md
  docs/docs/target/container_image_config.md
Owners: @knqyf263

add sbom genreation section to targets
  docs/docs/target/container_image.md
  docs/docs/target/filesystem.md
  docs/docs/target/repository.md
  docs/docs/target/rootfs.md
Owners: @knqyf263

sbom gen in vm
  docs/docs/target/vm.md
Owners: @knqyf263

remove target type in image config
  docs/docs/target/container_image_config.md
Owners: @knqyf263

address linting error in rego policy
  docs/docs/configuration/filtering.md
Owners: @knqyf263

refactor(image): count bytes from layer readers
  pkg/fanal/artifact/image/image.go
  pkg/x/io/counting_reader.go
  pkg/x/io/counting_reader_test.go
Owners: @knqyf263, @DmitriyLewen

refactor(sync): remove ToUnsafeMap method
  pkg/x/sync/sync.go
Owners: @knqyf263

refactor(scan): update ScanResponse comment
  pkg/types/scan.go
Owners: @knqyf263

refactor(cache): update json tag for ArtifactVersion and Layers
  pkg/cache/key.go
  pkg/fanal/types/artifact.go
  pkg/types/report.go
Owners: @knqyf263, @DmitriyLewen

refactor(rpc): reorder fields
  pkg/rpc/convert.go
Owners: @knqyf263

refactor(artifact): unify artifact versioning across multiple files
  pkg/fanal/artifact/image/image.go
  pkg/fanal/artifact/local/fs.go
  pkg/fanal/artifact/sbom/sbom.go
  pkg/fanal/artifact/vm/ebs.go
  pkg/fanal/artifact/vm/file.go
Owners: @knqyf263, @DmitriyLewen

feat(misconf): convert AWS managed policy to document (#8757)
  pkg/iac/adapters/terraform/aws/iam/convert.go
  pkg/iac/adapters/terraform/aws/iam/policies.go
  pkg/iac/adapters/terraform/aws/iam/roles_test.go
Owners: @simar7, @nikpivkin

refactor(test): replace assert with require in counting_reader_test
  pkg/x/io/counting_reader_test.go
Owners: @knqyf263

chore(deps): bump golangci-lint to v2.1.2
  .github/workflows/test.yaml
  .golangci.yaml
  magefiles/magefile.go
Owners: @knqyf263

feat: add Bottlerocket OS package analyzer
  pkg/detector/ospkg/bottlerocket/bottlerocket.go
  pkg/detector/ospkg/detect.go
  pkg/fanal/analyzer/all/import.go
  pkg/fanal/analyzer/const.go
  pkg/fanal/analyzer/os/release/release.go
  pkg/fanal/analyzer/pkg/bottlerocket_inventory/bottlerocket_inventory.go
  pkg/fanal/analyzer/pkg/bottlerocket_inventory/bottlerocket_inventory_test.go
  pkg/fanal/analyzer/pkg/bottlerocket_inventory/testdata/application-inventory.json
  pkg/fanal/types/const.go
  pkg/purl/purl.go
Owners: @knqyf263, @DmitriyLewen

refactor(rpc): streamline layer conversion in ScanResponse
  pkg/rpc/client/client.go
Owners: @knqyf263

refactor(rpc): zero to nil
  pkg/rpc/client/client.go
Owners: @knqyf263

update JSON format output flag
  magefiles/magefile.go
Owners: @knqyf263
